.cart-payment {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    
    .table-container {
        flex: 1;
    }
    
    .cart__buyer-form {
        background-color: $dark-color-lighten;
        width: 100%;
        border-radius: 5px;
        padding: 1.5rem;
    }
    
    @include breakpoint(768px) {
        flex-direction: row;
        .cart__buyer-form {
            width: 300px;
            margin-right: 1rem;
        }
    }
}
