.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $dark-color-lighten;
}

/* NAV */
.nav {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__item {
        margin-bottom: $mb-4;
    }
    .nav__logo {
        font-weight: $font-semi-bold;
    }
    .nav__toggle, .nav__shop {
        font-size: 1.3rem;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: $header-height;
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        background-color: $white-color;
        transition: .5s;
    }
}

/* Show Menu */
.show {
    left: 0;
}

/* Active link */
.nav__link.active {
    position: relative;
}

.nav__link.active::before {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: $dark-color;
    border-radius: 50%;
}

/* change color header */
.scroll-header {
    background-color: $white-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* MEDIA QUERIES */

@include breakpoint(768px) {
    .nav {
        height: calc($header-height + 1.5rem);
        .nav__toggle {
            display: none;
        }
        .nav__menu {
            margin-left: auto;
            .nav__list {
                display: flex;
                .nav__item {
                    margin-left: $mb-6;
                    margin-bottom: 0;
                }
            }
        }
    }
}