form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid $dark-color;
    border-radius: 5px;
    font-family: $body-font;
}

.input-group {
    align-self: center;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    gap: .5rem;

    input {
        flex: 1;
    }

    button.btn-group {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;

        background-color: $dark-color;
        color: $white-color;
        font-weight: $font-medium;
        border-radius: 8px;
        border: 2px solid $dark-color-lighten;
        transition: .3s;
        cursor: pointer;
        
        &:hover {
            transform: translateY(-.15rem);
        }
    }
}