.featured__container {
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.text-center {
    text-align: center;
}

.sunglass {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: $dark-color-lighten;
    border-radius: .5rem;
    transition: .3s;
    
    .sunglass__sale {
        position: absolute;
        left: .5rem;
        background-color: $dark-color;
        color: $white-color;
        padding: .25rem .5rem;
        border-radius: .25rem;
        font-size: $h2-font-size;
        transform: rotate(-90deg);
        letter-spacing: .1rem;    
    }
    .sunglass__img {
        width: 220px;
        margin-top: $mb-2;
        margin-bottom: $mb-3;
        /* transform: var(--rotate-img); */
        filter: drop-shadow(0 12px 8px rgba(0, 0, 0, .2));
    }
    .sunglass__name, .sunglass__price {
        font-size: $normal-font-size;
        letter-spacing: .1rem;
        font-weight: $font-semi-bold;
        text-align: center;
    }       
    .sunglass__name {
        margin-bottom: $mb-1;
    }
    .sunglass__price {
        margin-bottom: $mb-4;
    }
    
    &:hover {
        transform: translateY(-.5rem);
    }
}
