@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import './utils/variables';
@import './utils/mixins';

@include breakpoint(medium) {
    $big-font-size: 1.5rem;
    $bigger-font-size: 2rem;
    $biggest-font-size: 3rem;
    $normal-font-size: 1rem;
    $smaller-font-size: .875rem;
}

/* BASE */

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: $header-height 0 0 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    font-weight: $font-medium;
    color: $dark-color;
    line-height: 1.6;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* CLASS CSS */
.section {
    padding: 5rem 0 2rem;
    
    .section-title {
        position: relative;
        font-size: $big-font-size;
        margin-bottom: $mb-4;
        text-align: center;
        letter-spacing: .1rem;
    }

    .section-title::after {
        content: '';
        position: absolute;
        width: 56px;
        height: .18rem;
        top: -1rem;
        left: 0;
        right: 0;
        margin: auto;
        background-color: $dark-color;
    }
}

/* LAYOUT */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: $mb-2;
    margin-right: $mb-2;
}

/* MEDIA QUERIES */

@include breakpoint(medium) {
    body {
        margin: 0;
    }
    
    .section {
        padding: 7rem 0;
        
        .section-title::after {
            width: 76px;
        }
    }
}

@include breakpoint(large) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

@import './components/header';
@import './components/buttons';
@import './components/inputs';
@import './components/product';
@import './components/detail';
@import './components/footer';
@import './components/table-items';
@import './components/cards';
@import './components/hero';